name: Deploy static content to Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./index.html   # apenas o HTML principal
          # se quiser publicar imagens e PDFs, coloque assim:
          # path: |
          #   index.html
          #   monitoramento.png
          #   planilha_1.png
          #   planilha_2.png
          #   AD_PORT.png
          #   Leandro_Tavares_CV_2.pdf

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
